body {
    margin: 0;
    background-color: #d8d8d8;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 20vh;
    background-color: #444444;
}
.content {
    background-color: #efefef;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
}

.footer {
    background-color: black;
    margin: 0 auto;
    width: 75%;
    height: 10vh;
}