.body html{
    margin: 0;
    padding: 0;
}

.row {
    height: 100px;
    width: 100%;
}

.row-big{
    height:200px;
    width: 100%;
}

.row-1{
    background-color: #d8d8d8;
    padding: 25px;
    box-sizing: border-box;
}

.row-2{
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px;
}
.row-3{
    background-color: #4a90e2;
}
.row-4{
    background-color: red   
}
.row-5{
    background-color:  orange;
}
.row-6{
    background-color: yellow;
}
